@import '../../styles/variables';

.navbar {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 25px 12px;
  margin-inline: 30px;

  .left-nav {
        display: flex;
        align-items: center;
  }

  .right-nav {
        display: flex;
    .nav-links {
      display: flex;
      align-items: center;
      gap: 20px;

      

      li {
        list-style: none;
        padding-right: 10px;
        border-bottom: 2px solid transparent;

        .fa-solid {
          margin-left: 0.2rem;
          color: $plusRed;
        }
      }

      a {
        color: $navGray;
        text-decoration: none;
        font-size: 15px;
      }

      button {
        color: $navGray;
        text-decoration: none;
        font-size: 15px;
        border: 0;
        background-color: white;
        display: block;
        cursor: pointer;
      }

      .textLight {
        color: $medGray;
      }
      a:hover {
        color: #4f4f4f;
      }
    }
  }
}
