@import "../../styles/variables";

.home {
  background-image: url("https://images.pexels.com/photos/1228514/pexels-photo-1228514.jpeg");
  background-size: cover;
  background-position: center 90%;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    margin-bottom: 15px;
    color: $darkHeading;
  }

  ul {
    display: flex;

    li {
      list-style: none;
      color: $navGray;
      font-size: 18px;
      margin-bottom: 3rem;

      &:last-child {
        padding-left: 15px;
      }

      a {
        color: $navGray;
        text-decoration: none;
        transition: 0.4s;

        &:hover {
          color: $plusRed;
        }
      }
    }
  }
}
