@use '../../styles/mixins';
@import '../../styles/variables';


.propLine {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-block: 0.5rem;
  overflow: auto;

  &:hover {
    background-color: $lightestGray;
  }

  & * {
    font-size: 16px;
    color: $navGray;
    padding-right: 5px;
  }
}

.buttons {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;

  .whiteBtn {
    @include mixins.whiteBtn;
  }
  .redButton {
    @include mixins.redButton;
  }

  .warningBtn {
    @include mixins.warningBtn;
  }
}
