@use '../../styles/mixins';
@import '../../styles/variables';


.addProductForm {
  .input-group {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-block: 0.5rem;
    overflow: auto;

    input {
      padding: 0.2rem;
    }

    & * {
      font-size: 16px;
      color: $navGray;
      padding-right: 5px;
    }
  }

  .redBtn {
    @include mixins.redButton;
  }
  .success {
    background-color: $successGreen !important;
  }

  .error {
    color: $plusRed;
  }
}
